@CHARSET "ISO-8859-1";

.screenHeader {
	margin: 0 !important;
	width: 100%;
}

#wrapper {
	
	margin: 0 auto;
	flex: 1;
	height: 100%;
}

#main {
	width: 100%;
	height: calc(100% - 6.1em);
	overflow: hidden;
}

#publicMain {
	width: 100%;
	height: calc(100% - 3.8em);
	overflow: hidden;
}

.mainDiv {
	height: calc(100% - 5.5em);
	overflow: auto;
}

.screenHeader {
	margin: 0 !important;
	width: 100%;
}

/* header and footer elements */
#header {
	font-size: 1.3em;
	color: #848F93;
	font-weight: bold;
	text-align: left;
	margin: 1em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 2em;
}

.navbar2 {
	border: 0;
	border-radius: 0 !important;
	font-size: 20px;
	background-image: linear-gradient(to bottom, #3498db 0, #2c3e50 100%);
}

.navbar2 .navbar-nav>li>a {
	color: #fff;
}

.navbar2 .navbar-nav>li>a:hover, .navbar2 .navbar-nav>li>a:focus {
	color: #fff;
	background-image: linear-gradient(to top, #2980b9 0, #3498db 100%)
		!important;
}

.navbar2 .drop>li>a:focus, .drop>li>a:hover {
	text-decoration: none;
	background-color: #fff !important;
	color: #fff !important;
}

.navbar2 .drop .open>a, .nav .open>a:focus, .drop .open>a:hover {
	background-color: #fff;
	border-color: #fff;
	color: #fff !important;
}

.navbar2 .navbar-nav>li>.dropdown-menu {
	font-size: 18px;
	background-color: white !important;
	color: white !important;
}

.navbar2 .dropdown-menu>li>a {
	color: #224867 !important;
}

.navbar2 .navbar-toggle {
	border: 1px solid white;
}

.navbar2 .navbar-toggle .icon-bar {
	background-color: white !important;
}

.titds {
	background-color: #FAFAFA;
	padding: 5px;
	border-radius: 10px;
	height: 91vh;
	box-shadow: 0px 1px 3px rgba(34, 132, 164, 0.31);
}
.titds h3 {
	font-weight: bold;
	text-align: center;
	color: rgba(12,99,98,1);
	font-size: 19px;
}
/* End Style NavBar2 */

td>a, th>a {
	color: black !important;
}

.hidden{
	display: hidden;
}